<!DOCTYPE html>
<html lang="en">

<head>
  <title>API Project: Request Header Parser Microservice</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <h1>API Project: Request Header Parser Microservice</h1>
  </header>

  <main>
    <h2>User Story:</h2>

    <p>1. I can get the IP address, preferred languages (from header <code>Accept-Language</code>)
      and system infos (from header <code>User-Agent</code>) for my device.</p>

    <h2>Example of Usage:</h2>

    <a href="/api/whoami">[base url]/api/whoami</a>

    <h2>Example of Output:</h2>

    <p><code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code></p>
  </main>

  <footer>
    By <a href="https://github.com/matrixersp">matrixersp</a>!
  </footer>

</body>

</html>